/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../scss/base.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../scss/base.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 26, ../scss/base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 31, ../scss/base.scss */
a:visited {
  color: inherit;
}

/* line 35, ../scss/base.scss */
a:hover {
  color: inherit;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 45, ../scss/base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 50, ../scss/base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 59, ../scss/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 72, ../scss/base.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 80, ../scss/base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 90, ../scss/base.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 98, ../scss/base.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 109, ../scss/base.scss */
h1, h2, h3, h4, h5, h6, figure, ul, ol, nav, p, div, header, footer, figcaption, blockquote {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 137, ../scss/base.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 145, ../scss/base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 156, ../scss/base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 165, ../scss/base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 182, ../scss/base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 195, ../scss/base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 212, ../scss/base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 217, ../scss/base.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 226, ../scss/base.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 251, ../scss/base.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 259, ../scss/base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 263, ../scss/base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 267, ../scss/base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 277, ../scss/base.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 282, ../scss/base.scss */
  pre,
  blockquote {
    background-color: rgba(0, 0, 0, 0.1);
    page-break-inside: avoid;
  }

  /* line 287, ../scss/base.scss */
  blockquote {
    margin: 0px;
  }

  /* line 291, ../scss/base.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 296, ../scss/base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 300, ../scss/base.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 310, ../scss/base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 316, ../scss/base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==================================
			   Main
================================== */
/* line 9, ../scss/main.scss */
#viewportWatch {
  color: #fff;
  padding: .5em;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.3;
  z-index: 1000;
  font-size: 3em;
}

/* ****************************************
	Scet Variables
******************************************/
/* ****************************************
	"Scet" Content
******************************************/
/* line 44, ../scss/main.scss */
html {
  font-size: 1vmin;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
}

/* line 51, ../scss/main.scss */
h1, h2, h3, h4, h5, h6, p, figcaption, blockquote {
  line-height: 1.6em;
}

/* line 55, ../scss/main.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

/* line 61, ../scss/main.scss */
h1, h3, h5, h6, .h1, .h3, .h5, .h6 {
  font-weight: 400;
}

/* line 65, ../scss/main.scss */
blockquote {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.15);
  clear: both;
  line-height: 1.6em;
}

/* line 72, ../scss/main.scss */
figcaption {
  background-color: #bbb;
}

@media screen and (orientation: portrait) and (max-width: 500px), (orientation: landscape) and (max-height: 500px) {
  /* line 1, ../scss/scet.scss */
  h1, .h1 {
    font-size: 6em;
    margin-bottom: 0.41667em;
  }

  /* line 6, ../scss/scet.scss */
  h2, .h2 {
    font-size: 5em;
    margin-bottom: 0.5em;
  }

  /* line 11, ../scss/scet.scss */
  h3, .h3 {
    font-size: 4.5em;
    margin-bottom: 1.11111em;
  }

  /* line 16, ../scss/scet.scss */
  h5, h6, p {
    font-size: 4em;
    margin-bottom: 1.25em;
  }

  /* line 22, ../scss/scet.scss */
  blockquote {
    font-size: 3.5em;
    margin-bottom: 1.42857em;
    padding: 0.85714em;
  }

  /* line 28, ../scss/scet.scss */
  figcaption {
    font-size: 3.5em;
    padding: 0.85714em;
  }

  /* line 33, ../scss/scet.scss */
  #site-nav a {
    font-size: 4em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px), (orientation: landscape) and (min-height: 501px) {
  /* line 1, ../scss/scet.scss */
  h1, .h1 {
    font-size: 4em;
    margin-bottom: 0.625em;
  }

  /* line 6, ../scss/scet.scss */
  h2, .h2 {
    font-size: 3em;
    margin-bottom: 0.83333em;
  }

  /* line 11, ../scss/scet.scss */
  h3, .h3 {
    font-size: 2.5em;
    margin-bottom: 2em;
  }

  /* line 16, ../scss/scet.scss */
  h5, h6, p {
    font-size: 2.5em;
    margin-bottom: 2em;
  }

  /* line 22, ../scss/scet.scss */
  blockquote {
    font-size: 2.25em;
    margin-bottom: 2.22222em;
    padding: 1.33333em;
  }

  /* line 28, ../scss/scet.scss */
  figcaption {
    font-size: 2.25em;
    padding: 1.33333em;
  }

  /* line 33, ../scss/scet.scss */
  #site-nav a {
    font-size: 2.5em;
  }
}
@media screen and (orientation: portrait) and (min-width: 750px), (orientation: landscape) and (min-height: 750px) {
  /* line 1, ../scss/scet.scss */
  h1, .h1 {
    font-size: 4em;
    margin-bottom: 0.625em;
  }

  /* line 6, ../scss/scet.scss */
  h2, .h2 {
    font-size: 3em;
    margin-bottom: 0.83333em;
  }

  /* line 11, ../scss/scet.scss */
  h3, .h3 {
    font-size: 2.5em;
    margin-bottom: 2em;
  }

  /* line 16, ../scss/scet.scss */
  h5, h6, p {
    font-size: 2em;
    margin-bottom: 2.5em;
  }

  /* line 22, ../scss/scet.scss */
  blockquote {
    font-size: 1.8em;
    margin-bottom: 2.77778em;
    padding: 1.66667em;
  }

  /* line 28, ../scss/scet.scss */
  figcaption {
    font-size: 1.8em;
    padding: 1.66667em;
  }

  /* line 33, ../scss/scet.scss */
  #site-nav a {
    font-size: 2em;
  }
}
/* **************
	Hero Image 
************** */
/* line 116, ../scss/main.scss */
.heroImg, .stream-image {
  background-color: #555;
}
/* line 119, ../scss/main.scss */
.heroImg img, .stream-image img {
  width: 100%;
  height: auto;
}

@media (orientation: portrait) {
  /* line 127, ../scss/main.scss */
  .heroImg {
    width: 100%;
  }
  /* line 130, ../scss/main.scss */
  .heroImg img {
    height: 60em;
  }
}
@media (orientation: landscape) {
  /* line 138, ../scss/main.scss */
  .heroImg {
    float: right;
    width: 45em;
  }
  /* line 142, ../scss/main.scss */
  .heroImg img {
    height: 30em;
  }

  /* line 147, ../scss/main.scss */
  .heroImg:nth-of-type(even) {
    margin-left: 0px;
    float: left;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) and (orientation: portrait), (orientation: landscape) and (max-height: 500px) and (orientation: portrait) {
  /* line 156, ../scss/main.scss */
  .heroImg, .stream-image {
    margin-bottom: 4em;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) and (orientation: landscape), (orientation: landscape) and (max-height: 500px) and (orientation: landscape) {
  /* line 163, ../scss/main.scss */
  .heroImg {
    margin-left: 4em;
  }

  /* line 167, ../scss/main.scss */
  .heroImg:nth-of-type(even) {
    margin-right: 4em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px), (orientation: landscape) and (min-height: 501px) {
  /* line 175, ../scss/main.scss */
  .stream-image {
    margin-right: 2em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px) and (orientation: portrait), (orientation: landscape) and (min-height: 501px) and (orientation: portrait) {
  /* line 181, ../scss/main.scss */
  .heroImg, .stream-image {
    margin-bottom: 2em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px) and (orientation: landscape), (orientation: landscape) and (min-height: 501px) and (orientation: landscape) {
  /* line 188, ../scss/main.scss */
  .heroImg {
    margin-left: 2em;
  }

  /* line 192, ../scss/main.scss */
  .heroImg:nth-of-type(even) {
    margin-right: 2em;
  }
}
@media screen and (orientation: portrait) and (min-width: 750px), (orientation: landscape) and (min-height: 750px) {
  /* line 200, ../scss/main.scss */
  .stream-image {
    margin-right: 2em;
  }
}
@media screen and (orientation: portrait) and (min-width: 750px) and (orientation: portrait), (orientation: landscape) and (min-height: 750px) and (orientation: portrait) {
  /* line 206, ../scss/main.scss */
  .heroImg, .stream-image {
    margin-bottom: 2em;
  }
}
@media screen and (orientation: portrait) and (min-width: 750px) and (orientation: landscape), (orientation: landscape) and (min-height: 750px) and (orientation: landscape) {
  /* line 213, ../scss/main.scss */
  .heroImg {
    margin-left: 2em;
  }

  /* line 217, ../scss/main.scss */
  .heroImg:nth-of-type(even) {
    margin-right: 2em;
  }
}
/* ****************************************
	Layout Variables
******************************************/
/* $headMin:16em;
$content-pad-lg: 19em;
$m-content-margin-int: 3em;
$header-pad-lg: $m-content-margin-int;
$header-pad-sm: 3em;
$marBint: 5;
$marXint: 3;
$header-icon-min:10em; */
/* ****************************************
	Header & Nav
******************************************/
/* body {
	
	@media screen and (orientation:landscape) {
		padding-left:$header-min;
	}
	
	@media screen and (orientation:portrait) {
		padding-top:$header-min;
	}
	
} */
/* line 261, ../scss/main.scss */
#site-header {
  background: #bbb;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
}
/* line 269, ../scss/main.scss */
#site-header > * {
  background: #aaa;
}
@media screen and (orientation: landscape) {
  /* line 261, ../scss/main.scss */
  #site-header {
    height: 100%;
  }
  /* line 276, ../scss/main.scss */
  #site-header > *:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (orientation: portrait) {
  /* line 261, ../scss/main.scss */
  #site-header {
    width: 100%;
  }
  /* line 284, ../scss/main.scss */
  #site-header > * {
    display: inline-block;
    vertical-align: top;
    margin-right: 4em;
  }
  /* line 290, ../scss/main.scss */
  #site-header > *:last-child {
    margin-right: 0px;
  }
}

@media screen and (orientation: portrait) and (max-width: 500px), (orientation: landscape) and (max-height: 500px) {
  /* line 298, ../scss/main.scss */
  #site-header {
    padding: 4em;
  }

  /* line 302, ../scss/main.scss */
  #site-header > * {
    height: 11em;
    width: 11em;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) and (orientation: landscape), (orientation: landscape) and (max-height: 500px) and (orientation: landscape) {
  /* line 308, ../scss/main.scss */
  body {
    padding-left: 19em;
  }

  /* line 312, ../scss/main.scss */
  #site-header {
    width: 19em;
  }
  /* line 315, ../scss/main.scss */
  #site-header > * {
    margin-bottom: 4em;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) and (orientation: portrait), (orientation: landscape) and (max-height: 500px) and (orientation: portrait) {
  /* line 322, ../scss/main.scss */
  body {
    padding-top: 19em;
  }

  /* line 326, ../scss/main.scss */
  #site-header {
    height: 19em;
  }
  /* line 329, ../scss/main.scss */
  #site-header > * {
    margin-right: 4em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px), (orientation: landscape) and (min-height: 501px) {
  /* line 338, ../scss/main.scss */
  #site-header {
    padding: 2em;
  }

  /* line 342, ../scss/main.scss */
  #site-header > * {
    height: 7em;
    width: 7em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px) and (orientation: landscape), (orientation: landscape) and (min-height: 501px) and (orientation: landscape) {
  /* line 348, ../scss/main.scss */
  body {
    padding-left: 11em;
  }

  /* line 352, ../scss/main.scss */
  #site-header {
    width: 11em;
  }
  /* line 355, ../scss/main.scss */
  #site-header > * {
    margin-bottom: 2em;
  }
}
@media screen and (orientation: portrait) and (min-width: 501px) and (orientation: portrait), (orientation: landscape) and (min-height: 501px) and (orientation: portrait) {
  /* line 362, ../scss/main.scss */
  body {
    padding-top: 11em;
  }

  /* line 366, ../scss/main.scss */
  #site-header {
    height: 11em;
  }
  /* line 369, ../scss/main.scss */
  #site-header > * {
    margin-right: 2em;
  }
}
/* line 378, ../scss/main.scss */
#site-nav ul {
  display: none;
}

/* @media screen and (orientation:portrait) and (min-width:500px), (orientation:landscape) and (min-height:500px)  {

} */
/* ****************************************
	Tophat
******************************************/
/* line 412, ../scss/main.scss */
#tophat {
  padding: 4em;
  background: #666;
  color: #fff;
}
/* line 417, ../scss/main.scss */
#tophat h1 {
  margin: 0px;
  line-height: 1em;
}

/* ****************************************
	Content-Body and Sidebar
******************************************/
/* line 428, ../scss/main.scss */
#content-wrap {
  min-height: 85em;
}

/* line 432, ../scss/main.scss */
#content-body, #sidebar {
  padding: 4em;
}

/* line 436, ../scss/main.scss */
#sidebar {
  background: #999;
}

/* line 440, ../scss/main.scss */
.sidebar-module {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  margin-bottom: 4em;
}
/* line 445, ../scss/main.scss */
.sidebar-module p {
  margin: 0px;
}

@media screen and (orientation: landscape) and (min-height: 650px) {
  /* line 451, ../scss/main.scss */
  #content-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
  }

  /* line 456, ../scss/main.scss */
  #content-main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
  }

  /* line 460, ../scss/main.scss */
  #sidebar {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
  }

  /* line 464, ../scss/main.scss */
  .sidebar-module {
    width: 300px;
    box-sizing: border-box;
  }
}
/* ****************************************
	Footer
******************************************/
/* line 475, ../scss/main.scss */
#site-footer {
  padding: 4em;
  background: #666;
  color: #fff;
  min-height: 15em;
}
/* line 481, ../scss/main.scss */
#site-footer p {
  margin: 0px;
}

/* ****************************************
	Stream
******************************************/
/* .stream-item {
    margin-bottom:$t-content-margin;
    @include display-box;
    @include box-orient(horizontal);
    
    .stream-content {
        @include box-flex(1);
    }
    
    .stream-image {
        @include box-flex(0);
        width:35em;
        height:35em;
        
        img {
            width:100%;
            height:auto;
        }
    }
} */
/* line 514, ../scss/main.scss */
.stream-item {
  margin-bottom: 2em;
}
/* line 520, ../scss/main.scss */
.stream-item .stream-image {
  margin-right: 2em;
  float: left;
  width: 40em;
  height: 40em;
}
/* line 526, ../scss/main.scss */
.stream-item .stream-image img {
  width: 100%;
  height: auto;
}
