@import 'compass/css3';

@import 'base.scss';

/* ==================================
			   Main
================================== */

#viewportWatch {
	color:#fff;
	padding:.5em;
	position:fixed;
	top:0px;
	right:0px;
	background-color:rgba(0,0,0,0.4);
	opacity:0.3;
	z-index:1000;
	font-size:3em;
}

/* ****************************************
	Scet Variables
******************************************/ 

$golden: 1.6em;
$margin-bottom: 5em;
$margin-bottom-int:5;
$m-content-margin-int:4;
$m-content-margin:$m-content-margin-int * 1em;
$t-content-margin-int:2;
$t-content-margin:$t-content-margin-int * 1em;
$d-content-margin-int:1.5;
$d-content-margin:$t-content-margin-int * 1em;






/* ****************************************
	"Scet" Content
******************************************/ 

html {
	font-size:1vmin;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	color:#333;
}

h1, h2, h3, h4, h5, h6, p, figcaption, blockquote {
	line-height:$golden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform:capitalize;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
}

h1, h3, h5, h6, .h1, .h3, .h5, .h6 {
	font-weight:400;
}

blockquote {
	margin:0px;
	background-color:rgba(0,0,0,0.15);
	clear:both;
	line-height:$golden;
}

figcaption {
	background-color:#bbb;
}

@media screen and (orientation:portrait) and (max-width:500px), (orientation:landscape) and (max-height:500px)  {

	$fs-h1:6;
	$fs-h2:5;
	$fs-h3:4.5;
	$fs-p:4;
	$fs-bq:3.5;
	$fs-fc:$fs-bq;

	@import 'scet.scss';
}

@media screen and (orientation:portrait) and (min-width:501px), (orientation:landscape) and (min-height:501px)  {

	$fs-h1:4;
	$fs-h2:3;
	$fs-h3:2.5;
	$fs-p:2.5;
	$fs-bq:2.25;
	$fs-fc:$fs-bq;

	@import 'scet.scss';
}

@media screen and (orientation:portrait) and (min-width:750px), (orientation:landscape) and (min-height:750px)  {

	$fs-h1:4;
	$fs-h2:3;
	$fs-h3:2.5;
	$fs-p:2;
	$fs-bq:1.8;
	$fs-fc:$fs-bq;

	@import 'scet.scss';
}

/* **************
	Hero Image 
************** */

.heroImg, .stream-image {
	background-color:#555;
	
	img {
		width:100%;
		height:auto;
	}
}

@media (orientation:portrait) {

	.heroImg {
		width:100%;
	
		img {
			height:60em;
		}
	}
} 

@media (orientation:landscape) {

	.heroImg {
		float:right;
		width:45em;
		
		img {
			height:30em;
		}
	}
	
	.heroImg:nth-of-type(even) {
		margin-left:0px;
		float:left;
	} 
}

@media screen and (orientation:portrait) and (max-width:500px), (orientation:landscape) and (max-height:500px)  {
	@media (orientation:portrait) {

		.heroImg, .stream-image {
			margin-bottom: $m-content-margin;
		}
	}
	
	@media (orientation:landscape) {

		.heroImg {
			margin-left: $m-content-margin;
		}
		
		.heroImg:nth-of-type(even) {
			margin-right: $m-content-margin;
		}
	}
}

@media screen and (orientation:portrait) and (min-width:501px), (orientation:landscape) and (min-height:501px)  {

    .stream-image {
        margin-right: $t-content-margin;
    }
        
	@media (orientation:portrait) {

		.heroImg, .stream-image {
			margin-bottom: $t-content-margin;
		}
	}
	
	@media (orientation:landscape) {

		.heroImg {
			margin-left: $t-content-margin;
		}
		
		.heroImg:nth-of-type(even) {
			margin-right: $t-content-margin;
		}
	}
}

@media screen and (orientation:portrait) and (min-width:750px), (orientation:landscape) and (min-height:750px)  {

    .stream-image {
        margin-right: $d-content-margin;
    }
        
	@media (orientation:portrait) {

		.heroImg, .stream-image {
			margin-bottom: $d-content-margin;
		}
	}
	
	@media (orientation:landscape) {

		.heroImg {
			margin-left: $d-content-margin;
		}
		
		.heroImg:nth-of-type(even) {
			margin-right: $d-content-margin;
		}
	}
}

/* ****************************************
	Layout Variables
******************************************/ 

/* $headMin:16em;
$content-pad-lg: 19em;
$m-content-margin-int: 3em;
$header-pad-lg: $m-content-margin-int;
$header-pad-sm: 3em;
$marBint: 5;
$marXint: 3;
$header-icon-min:10em; */

$m-header-icon-min-int:11;
$m-header-icon-min:$m-header-icon-min-int * 1em;
$m-header-min-int:$m-header-icon-min-int + $m-content-margin-int * 2;
$m-header-min:$m-header-min-int * 1em;
$t-header-icon-min-int:7;
$t-header-icon-min:$t-header-icon-min-int * 1em;
$t-header-min-int:$t-header-icon-min-int + $t-content-margin-int * 2;
$t-header-min:$t-header-min-int * 1em;

/* ****************************************
	Header & Nav
******************************************/ 

/* body {
	
	@media screen and (orientation:landscape) {
		padding-left:$header-min;
	}
	
	@media screen and (orientation:portrait) {
		padding-top:$header-min;
	}
	
} */

#site-header {
	background:#bbb;
	position:fixed;
	z-index:100;
	top:0px;
	left:0px;
	box-sizing:border-box;
	
	> * {
		background:#aaa;
	}
	
	@media screen and (orientation:landscape) {
		height:100%;
	
		> *:last-child {
			margin-bottom:0px;
		}
	}
	
	@media screen and (orientation:portrait) {
		width:100%;
	
		> * {
			display:inline-block;
			vertical-align:top;
			margin-right:$m-content-margin;
		}
	
		> *:last-child {
			margin-right:0px;
		}
	}
}
	
@media screen and (orientation:portrait) and (max-width:500px), (orientation:landscape) and (max-height:500px)  {
	
	#site-header {
		padding:$m-content-margin;
	}
	
	#site-header > * {
		height:$m-header-icon-min;
		width:$m-header-icon-min;
	}
	
	@media (orientation:landscape) {
		body {
			padding-left:$m-header-min;
		}
		
		#site-header {
			width:$m-header-min;
	
			> * {
				margin-bottom:$m-content-margin;
			}
		}
	}
	
	@media (orientation:portrait) {
		body {
			padding-top:$m-header-min;
		}
		
		#site-header {
			height:$m-header-min;
	
			> * {
				margin-right:$m-content-margin;
			}
		}
	}
}

@media screen and (orientation:portrait) and (min-width:501px), (orientation:landscape) and (min-height:501px)  {
	
	#site-header {
		padding:$t-content-margin;
	}

	#site-header > * {
		height:$t-header-icon-min;
		width:$t-header-icon-min;
	}
	
	@media (orientation:landscape) {
		body {
			padding-left:$t-header-min;
		}
		
		#site-header {
			width:$t-header-min;
	
			> * {
				margin-bottom:$t-content-margin;
			}
		}
	}
	
	@media (orientation:portrait) {
		body {
			padding-top:$t-header-min;
		}
		
		#site-header {
			height:$t-header-min;	
			
			> * {
				margin-right:$t-content-margin;
			}
		}
	}
}

#site-nav {

	ul {
		display:none;
	}	
	
}
	
/* @media screen and (orientation:portrait) and (min-width:500px), (orientation:landscape) and (min-height:500px)  {

} */

@media screen and (orientation:portrait) and (max-width:400px) {
	
}

@media screen and (orientation:portrait) and (min-width:401px) and (max-width:700px) {
}

@media screen and (orientation:portrait) and (min-width:701px) {
} 

@media screen and (orientation:landscape) and (max-height:400px) {
}

@media screen and (orientation:landscape) and (min-height:401px) and (max-height:700px) {
}

@media screen and (orientation:landscape) and (min-height:701px) {
}


/* ****************************************
	Tophat
******************************************/ 

#tophat {
	padding:$m-content-margin;
	background:#666;
	color:#fff;
	
	h1 {
		margin:0px;
		line-height:1em;
	}
}


/* ****************************************
	Content-Body and Sidebar
******************************************/ 

#content-wrap {
	min-height:85em;
}

#content-body, #sidebar {
	padding:$m-content-margin;
}

#sidebar {
	background:#999;
}

.sidebar-module {
	background-color:rgba(255,255,255,0.5);
	padding:$m-content-margin-int / 2 * 1em;
	margin-bottom:$m-content-margin;
	
	p {
		margin:0px;
	}
}

@media screen and (orientation:landscape) and (min-height:650px) {
	#content-wrap {
		@include display-box;
		@include box-orient(horizontal);
	}
	
	#content-main {
		@include box-flex(1);
	}
	
	#sidebar {
		@include box-flex(0);
	}
	
	.sidebar-module {
		width:300px;
		box-sizing:border-box;
	}
}


/* ****************************************
	Footer
******************************************/ 

#site-footer {
	padding:$m-content-margin;
	background:#666;
	color:#fff;
	min-height:15em;
	
	p {
		margin:0px;
	}
}




/* ****************************************
	Stream
******************************************/ 

/* .stream-item {
    margin-bottom:$t-content-margin;
    @include display-box;
    @include box-orient(horizontal);
    
    .stream-content {
        @include box-flex(1);
    }
    
    .stream-image {
        @include box-flex(0);
        width:35em;
        height:35em;
        
        img {
            width:100%;
            height:auto;
        }
    }
} */

.stream-item {
    margin-bottom:$t-content-margin;
    
    .stream-content {
    }
    
    .stream-image {
        margin-right:$t-content-margin;        
        float:left;
        width:40em;
        height:40em;
        
        img {
            width:100%;
            height:auto;
        }
    }
}


