/*
Syntax error: Invalid CSS after "... / 2) / $fs-h1)": expected ";", was ") * 1em; "
        on line 389 of F:/wamp2_2/www/testbed/scss/main.scss

Backtrace:
F:/wamp2_2/www/testbed/scss/main.scss:389
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:1129:in `expected'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:1066:in `expected'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:1061:in `tok!'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:569:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:1104:in `rethrow'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:575:in `declaration_or_ruleset'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:537:in `block_child'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:529:in `block_contents'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:518:in `block'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:512:in `ruleset'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:536:in `block_child'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:529:in `block_contents'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:70:in `stylesheet'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/scss/parser.rb:27:in `parse'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/engine.rb:342:in `_to_tree'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/engine.rb:315:in `_render'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/engine.rb:262:in `render'
src/compass_patch.rb:124:in `compile'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
src/compass_patch.rb:123:in `compile'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
src/compass_patch.rb:122:in `compile'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
src/compass_patch.rb:7:in `perform'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Users/Ben/Downloads/compass.app.windows.v1.18/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:408:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body > :first-child:before {
  white-space: pre;
  font-family: monospace;
  font-size:16px !important;
  content: "Syntax error: Invalid CSS after \"... / 2) / $fs-h1)\": expected \";\", was \") * 1em; \"\A         on line 389 of F:/wamp2_2/www/testbed/scss/main.scss"; }
